body{
    margin:0;
    padding:0;
    background:#202124;
    font-family:Arial;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{
    background:#2d2f31;
    padding:30px;
    border-radius:20px;
    text-align:center;

    width:300px;

    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

input{
    padding:10px;
    width:70%;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    padding:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;

    background:#ff4444;
    color:white;
}

img{
    width:180px;
}

.pokemon-box{
    margin-top:20px;
}